@font-face {
  font-family: "LEDLIGHT";
  src: url('fonts/LEDLIGHT.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url('fonts/AlteHaasGroteskBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url('fonts/AlteHaasGroteskRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BlackCrayon";
  src: url('fonts/BlackCrayon.ttf');
  font-weight: normal;
  font-style: normal;
}


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e9f1eb;
  background-color: #292a29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "AlteHaasGrotesk";
  font-weight: bold;
  font-size: 12px;
  margin: 5px 10px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

select {
  font: inherit;
  font-size: 15px;
  height: 30px;
}

#title {
  font-family: "LEDLIGHT";
  font-size: 50px;
  margin: inherit;
  color: #f6743f;
  text-shadow: 0 0 30px #f6743f;
}

#bigger-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0px 20px;
  gap: 20px;
}

#display-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#name {
  position: relative;
  bottom: 90%;
  left: 20%;
  font-family: "BlackCrayon";
  font-size: 270%;
  color: #393d39;
}

#tracks-container {
  position: relative;
  bottom: 27.7%;
  right: 0.5%;
  color: #393d39;
  font-size: 95%;
  line-height: 154%;
}
